<div class="row mt-4">
    <h1 class="text-center">Register</h1>
    <div class="col-3 mx-auto">
        <form action="/auth/register" method="post" enctype="multipart/form-data">
            <div class="col mb-2">
                First Name
                <input class="form-control" type="text" placeholder="Your name" name="firstName">
            </div>
            <div class="col mb-2">
                Last Name
                <input class="form-control" type="text" placeholder="Your surname" name="lastName">
            </div>
            <div class="col mb-2">
                Date of Birth
                <input class="form-control" type="date" name="dateOfBirth">
            </div>
            <div class="col mb-2">
                Phone Number
                <input class="form-control" type="phone" placeholder="Your phone number" name="phone">
            </div>
            <div class="col mb-2">
                Email
                <input class="form-control" type="email" placeholder="Your email address" name="email">
            </div>
            <div class="col mb-2">
                Upload a profile photo
                <input class="form-control" type="file" name="profilePicture">
            </div>
            <div class="col mb-2">
                password
                <input class="form-control" type="password" placeholder="Password" name="password">
            </div>
            <div class="d-grid col">
                <button class="btn btn-warning" type="submit">Register</button>
            </div>
            

        </form>
    </div>
</div>