<div class="row mt-5">
    <h1 class="text-center">Add Games</h1>
    <form action="/games/<%= consoleId %>/add" method="POST">
      <div class="col-4 mx-auto">
        <div class="col mb-2">
          <label for="gameName" class="form-label">Game Name:</label>
          <input class="form-control" type="text" placeholder="Game Name" name="gameName">
        </div>
        <div class="col mb-2">
          <label for="dateBoughtGame" class="form-label">Date Bought:</label>
          <input class="form-control" type="date" name="dateBoughtGame">
        </div>
        <div class="col mb-2">
          <label for="gamePrice" class="form-label">Game Price (RM):</label>
          <input class="form-control" type="text" placeholder="Game Price (RM)" name="gamePrice">
        </div>
        <div class="col mb-2 form-check">
          <input class="form-check-input" type="checkbox" name="isCompleted" id="isCompleted">
          <label class="form-check-label" for="isCompleted">Game Completed</label>
        </div>
        <div class="col mb-2">
          <label for="hoursPlayed" class="form-label">Hours Played:</label>
          <input class="form-control" type="text" placeholder="Hours Played" name="hoursPlayed">
        </div>
        
        <div class="d-grid col">
            <button class="btn btn-warning" type="submit">Add Game</button>
        </div>

      </div>
    </form>
  </div>
  
